doctype html
html
  include ../layout/header

  body
    include ../layout/nav
    div.home-wraper
      h2.title 项目
      div.home-list
        each item in menu.menu2(params.end)
          a(href="#{item.href}")= item.name

    include ../layout/footer
  
  style.
    body{background-color: #FAFAFA}
