body{    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;     color: #34495e;   -webkit-font-smoothing: antialiased; margin: 0; padding: 0;}
body, a {
  color: #34495e;  
}


header{
 background-color: #fff;    /* box-shadow: 0 0 4px rgba(0,0,0,0.25); */
 padding-bottom: 60px;
}

header h2 {
  text-align: center; font-family: "微软雅黑";     color: #929191;
}
header  .logo{
  position: absolute;  left: 20px; top: 20px; font-size: 100px;
}




/* 顶部导航 */
nav.top {
  border-bottom: #DDD 1px solid; padding: 10px; background-color: #FFF;
}

nav.top a {
   text-decoration: none;  margin: 10px; font-size: 12px;
}
nav.nav-doc {
  border-bottom: #DDD 1px solid; padding: 20px; background-color: #FFF; text-align: center;    background-color: #F3F3F3;
}

nav.nav-doc a {
   text-decoration: none;  margin: 10px; font-size: 12px;
}



.container{
  position: relative; padding-left: 200px;
}
.content{padding: 20px; padding-right: 100px}
.content a{
  color: #42b983;
}
.leftbar{
  width: 200px; height: 100%; position: absolute; left: 0; top: 0;    line-height: 20px;
}

.leftbar ul li{
  list-style: none; margin: 5px 0;
}

.leftbar ul{
  padding-left: 20px;
}
.leftbar ul li a{
 text-decoration: none;
}

.leftbar .level-2{
  font-size: 13px;
}

.leftbar .level-3{
  font-size: 12px;
}

.leftbar.fixed{
  position: fixed;
}

code{
  padding: 2px 4px;    font-size: 90%;    color: #c7254e;
    background-color: #f9f2f4;    border-radius: 4px; 
}
pre code{
  background-color: #f8f8f8; padding: 0;
}


pre[class*="language-"]{
  background: #f8f8f8;    font-size: 13px;    line-height: 30px;text-shadow: none;
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}


.active >  a{color: #42b983; font-weight: bold;}



/* 首页 */
.home-list {
  margin: 50px auto; text-align: center;
}
.home-list a{
  display: inline-block; background-color: #FFF; width: 200px; height: 100px;
  margin: 20px;    line-height: 100px;    text-decoration: none;    box-shadow: 1px 1px 1px #DDD;
}

.home-wraper .title{
   text-align: center; margin: 100px;
}


/* 表格 */
table{
  border: 1px solid #f4f4f4;    border-spacing: 0;  border-collapse: collapse;
  width: 100%;
}
table>tbody>tr>td,table>tbody>tr>th,table>tfoot>tr>td,table>tfoot>tr>th,table>thead>tr>td,table>thead>tr>th {
    border: 1px solid #f4f4f4;  padding: 10px; 
}

table>thead>tr>th {
    border-bottom: 2px solid #f4f4f4
}

table tr td .progress {
    margin-top: 5px
}

table tbody tr:nth-of-type(odd){
  background-color: #f9f9f9;
}
